<div class="menu">
  <ul>
    <li><%= image_tag(current_user.icon, class: 'user-icon') %></li>
    <li><%= current_user.username %></li>
    <hr>
    <li><%= link_to 'All welfare collections', welfares_path %></li>
    <hr>
    <li><%= link_to 'External welfare collections', welfares_path(external: true) %></li>
    <hr>
    <li><%= link_to 'All contributors', groups_path %></li>
    <hr>
    <li><%= link_to 'All groups', groups_path %></li>
    <hr>
    <li><%= link_to 'Logout', '/logout', method: 'post' %></li>
  </ul>
</div>