<%= total_amount(@welfares) %>
<p id="notice"><%= notice %></p>

<div class="item-box">
  <% @welfares.order(:created_at).reverse_each do |welfare| %>
  <div class="item">
    <%= welfare_icon(welfare) %>
    <p class='item-name'> <%= welfare.name %> </p>
    <p class="tracker">
      <%= welfare_amount(welfare) %>
    </p>
    <p> <%= time_ago_in_words welfare.created_at %> ago </p>
  </div>
  <% end %>
</div>